
    * {
                margin: 0;
                padding: 0;
                list-style: none;
                text-decoration: none;
            }

    .first {
                width: 1920px;
                height: 937px;
                background-color: whitesmoke;
                position: relative;
            }

    .first>img {
                height: 850px;
                position: absolute;
                top: 50px;
                left: 240px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
            }

    .first .text:hover {
               box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.8)
            }

    .first .text {
                position: absolute;
                background-color: skyblue;
                height: 450px;
                width: 900px;
                top: 220px;
                left: 300px;
                filter: alpha(opacity=80);
                /*透明度*/
                /*IE*/
                opacity: 0.7;
                /*Mozilla*/
            }

    .first .text>span {

                font-size: 28px;
                font-weight: 100;
                color: #000000;

            }

    .first .login {
                position: absolute;
                left: 1270px;
                top: 300px;
                width: 340px;
                height: 200px;
                background-color: plum;
                text-align: center;
                box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.8);
                filter: alpha(opacity=80);
                /*透明度*/
                /*IE*/
                opacity: 0.7;
                /*Mozilla*/
            }

    .first .right_text {
                position: absolute;
                right: 330px;
                top: 210px;
                font-size: 30px;
                font-style: initial;
            }

    .first .right_text .right_text_span1 {
                position: absolute;
                left: 75px;
            }

   .first .login>a {
               font-size: 30px;

           }

 .first .login>a:hover {
                font-size: 35px;
              color: #0A7369;
            }
