
    * {
                margin: 0;
                padding: 0;
                list-style: none;
                text-decoration: none;
            }

    .first {
                width: 1920px;
                height: 937px;
                background-color: whitesmoke;
                position: relative;
            }
    .first .title span{
        position: absolute;
        left: 780px;
        top: 80px;
        font-size: 50px;
        font-weight: 700;
        color: whitesmoke;
    }
    .first>img {
                height: 850px;
                position: absolute;
                top: 50px;
                left: 240px;
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
            }

    .first .text:hover {
               box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.8)
            }

    .first .text {
                position: absolute;
                height: 450px;
                width: 900px;
                top: 270px;
                left: 300px;
        box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.5);
        filter: alpha(opacity=80);
        /*透明度*/
        /*IE*/
        opacity: 0.7;
        /*Mozilla*/

            }

    .first .text>span {

                font-size: 28px;
                color: whitesmoke;
                font-weight: 100;


            }

    .first .login {
                position: absolute;
                left: 1270px;
                top: 400px;
                width: 340px;
                height: 200px;
                text-align: center;
                box-shadow: 5px 8px 20px rgba(0, 0, 0, 0.8);
                background: none;
            }

    .first .right_text {
                position: absolute;
                right: 390px;
                top: 300px;
                font-size: 30px;
                font-style: initial;
              color: #FF9800;
            }


   .first .login>a {
               font-size: 30px;
             color: whitesmoke;

           }

 .first .login>a:hover {
                font-size: 35px;
              color: wheat;
            }
